# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://dbuser:dbpassword@dbhost:dbport/dbname"

REQUESTS_RATE_LIMIT=1
REQUESTS_RATE_LIMIT_TIME_WINDOW=3000

CLEAR_REQUEST_RECORDS_TIME_DELAY=300000

JWT_SECRET=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION_TIME=84600
ACCESS_TOKEN_EXPIRATION_TIME=15m

REDIS_HOST=localhost
REDIS_PORT=6380


POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassport
POSTGRES_DB=dbname

AWS_S3_BUCKET_NAME=
AWS_S3_IAM_USER_KEY=
AWS_S3_IAM_USER_SECRET=
AWS_S3_REGION=

PAYMES_SECRET=

NEXT_PUBLIC_API_BASE_URL=